<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396807048787-69ooe0m056r42a2qhq0ess8nsp4uanpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396807048787-69ooe0m056r42a2qhq0ess8nsp4uanpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDAm7MtgL6wDx2F7H_mVMf-Vmri3-2c_6g</string>
	<key>GCM_SENDER_ID</key>
	<string>396807048787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mzhovnach.whatsinthebox</string>
	<key>PROJECT_ID</key>
	<string>watsinthebox-d368f</string>
	<key>STORAGE_BUCKET</key>
	<string>watsinthebox-d368f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396807048787:ios:84b59f199134a279</string>
	<key>DATABASE_URL</key>
	<string>https://watsinthebox-d368f.firebaseio.com</string>
</dict>
</plist>